
.ul{
	text-align: left;
}

.firstDiv{
	border-style: solid;
	border-color: #eb3477; 
}
.secondDiv{
	border-style: solid;
	border-color: #eb3477; 
}

.button1{
	background-color: green;
	color: white;
	padding: 5px;
}

table{
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

th,td{
	border-collapse: collapse;
	border: 1px solid black;
}